.nav {
  display: flex;
  height: 100px;
  width: 100%;
  background-color: #17520d;
  color: #ffffff;
  justify-content: space-between;
  width: 100%;
  position: fixed; 
  top: 0;
  background-image: url("https://www.transparenttextures.com/patterns/black-orchid.png");
  
}

#togglearrow {
  color: orangered;
}

#togglearrow:hover {
  cursor: pointer;
  color: white;
}

.rightnav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.5em;
}

.navspanleft {
  display: flex;
  margin: 1.5em;
}

.navspanright {
  /* display: flex; */
  margin: 0.2em;
}