/* Styling for the whole nav */
.nav {
  display: flex;
  height: 100px;
  width: 100%;
  background-color: #17520d;
  color: #ffffff;
  justify-content: space-between;
  width: 100%;
  position: fixed; 
  top: 0;
  background-image: url("https://www.transparenttextures.com/patterns/black-orchid.png");
  font-size: 24px;
  padding-left: 15px;
  padding-right: 15px;
  z-index: 9999;
}

/* Styling for dynamic arrow to toggle tweet */
#togglearrow {
  color: orangered;
}

#togglearrow:hover {
  transform: scale(1.3);
  cursor: pointer;
  color: white;
}

/* Stlying for the right side of the nav */
.rightnav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.5em;
}

.navspanright {
  margin: 0.2em;
}

/* Stlying for the right side of the nav */
.navspanleft {
  display: flex;
  margin: 1.5em;
}
