/* tweet container styling */
.tweet-body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* tweet article hover styling */
#tweet:hover {
  border: 6px outset #17520d;
  background-image: none;
  outline: none;
  transform: scale(1.05);
  opacity: 1;
}

/* tweet article styling */
#tweet {
  outline: solid #2c210e 4px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  padding: 5px;
  margin: 15px;
  overflow-wrap: break-word;
  font-size: large;
}

/* tweet header styling */
.tweet-header {
  height: 30%;
  background-color: #f4f1ec;
  display: flex;
  align-items: center;
  width: 90%;
  align-self: center;
  background-image: url("https://www.transparenttextures.com/patterns/foggy-birds.png");
}

/* styling for the username */
.username {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  flex-grow: 0.1;
  justify-content: space-around;
}

/* styling for the handle */
.handle {
  display: flex;
  flex-direction: row-reverse;
  flex-grow: 1;
}

/* styling for the section in the tweet article */
section {
  display: flex;
  width: 95%;
  height: 50%;
  align-self: center;
}

/* styling for the p tag in the tweet article */
p {
  width: 100%;
  height: 5vh;
  display: flex;
  overflow-wrap: anywhere
}

/* styling for the footer in the tweet article */
footer {
  font-size: 15px;
  width: 95%;
  background-color: #f4f1ec;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  height: 20%;
  background-image: url("https://www.transparenttextures.com/patterns/foggy-birds.png");
}
