.tweet-form {
  display: flex;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px;
}

.textarea:focus, input:focus{
  outline: none;
}

.textarea {
  display: flex;
  width: 100%;
  border: none;
  border-bottom: #3b2c13 4px solid;
  background-color: #f4f1ec;
  resize: none;
  background-image: url("https://www.transparenttextures.com/patterns/foggy-birds.png");
}

.button_counter {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  outline: none;
}

.button:hover {
  border: 4px outset #17520d;
  background-image: url("https://www.transparenttextures.com/patterns/black-orchid.png");
}

.button {
  display: flex;
  color: #ffffff;
  background-color: #17520d;
  border: none;
  background-image: url("https://www.transparenttextures.com/patterns/black-orchid.png");
  cursor: pointer;

}

.counter {
  display: flex;

}